{{>header}}


<body>
    {{>nav}}
    <div class="container">
    <section class="about-header">
        <div class="about-header-text">
            <h1>About Us</h1>
            <p>We are an agency formed to provide digital marketing, advertising and design services to SME's (small and
                medium-sized companies) through the application of techniques and strategies according to the behavior
                of
                the market and the position of the brand.</p>
            <p>Our purpose is to help entrepreneurs who wish to enter the market or business owners to boost their
                brand,
                through digital media such as social networks, websites, blogs, and e-mail marketing</p>
        </div>
        <div class="about-header-img">
            <img src="images/about-img.png" alt="about us image">
        </div>
    </section>
    </header>
    <section class="about-obj">
        <div class="about-obj-text">
            <h1>Our objectives</h1>
            <h2>as a digital agency</h2>
        </div>
        <div class="about-obj-objs">
            <div>
                <i class="fas fa-concierge-bell fa-3x"></i>
            </div>
            <div>
                <h2>Attend</h2>
                <p>Always to our clients, maintaining a philosophy of ethics and professionalism as our base</p>
            </div>
        </div>
       <div class="about-obj-objs">
            <div>
                <i class="fas fa-concierge-bell fa-3x"></i>
            </div>
            <div>
                <h2>Attend</h2>
                <p>Always to our clients, maintaining a philosophy of ethics and professionalism as our base</p>
            </div>
        </div>
        <div class="about-obj-objs">
            <div>
                <i class="fas fa-concierge-bell fa-3x"></i>
            </div>
            <div>
                <h2>Attend</h2>
                <p>Always to our clients, maintaining a philosophy of ethics and professionalism as our base</p>
            </div>
        </div>
        <div class="about-obj-objs">
            <div>
                <i class="fas fa-concierge-bell fa-3x"></i>
            </div>
            <div>
                <h2>Attend</h2>
                <p>Always to our clients, maintaining a philosophy of ethics and professionalism as our base</p>
            </div>
        </div>
            
    </section>
    <section class="about-mission">
        <div class="about-mission-text">
            <ul>
                <li>placeholder</li>
                <li>placeholder</li>
            </ul>
        </div>
        <div class="about-mission-video">

        </div>
    </section>
    </div>
    {{>footer}}
    
</body>

</html>