<div id="navbar" class="navbar top">
    <h1 class="logo">
        JM | Agency
    </h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</div>
<div id="mobile-nav" class="top">

    <h1 class="logo column">
        JM | Agency
    </h1>
    <i id="hamburger" class="fas fa-bars fa-2x"></i>
    <div class="break"></div>

    <nav>
        <ul id="mobile-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">About</a></li>
            <li><a href="index.html">Services</a></li>
            <li><a href="index.html">Portfolio</a></li>
            <li><a href="index.html">Contact</a></li>
        </ul>
    </nav>
</div>