.footer {
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 25vh;
}

.footer a i {
  color: #fff;
  margin: 40px 15px 10px;
}

.footer a i:hover {
  color: #7512bd;
}
